@using MyCv.UI.Components.Shared
@using MyCv.UI.Components.Shared.Content
@using static MyCv.UI.Components.Shared.CodeBlock
@inject IStringLocalizer<MyCv.UI.Resources.Shared> SharedLocalizer;
@inject IStringLocalizer<MyCv.UI.Resources.Components.Pages.Coding> Localizer;

<Section SectionId="git" SectionName="@SharedLocalizer["GitFlow"]">
    <MudText>@Localizer["SectionGitIntroduction"]</MudText>
    <MudText>@Localizer["SectionGitExample"]</MudText>
</Section>

@code {
}
