@using MyCv.UI.Services
@inject ILocalizationService LocalizationService

<MudMenu Icon="@Icons.Material.Filled.Language">
    @foreach (var language in _languages)
    {
        <MudMenuItem OnClick="@(()=>SetLanguage(language.CultureInfo))">
            <span class=@language.IconClass></span> @language.Name
        </MudMenuItem>
    }
</MudMenu>

@code {

    private record Language(CultureInfo CultureInfo, string IconClass, string Name);

    private List<Language> _languages = new()
    {
        new(MyCv.UI.Services.LocalizationService.English, "fi fi-gb", "English"),
        new(MyCv.UI.Services.LocalizationService.French, "fi fi-fr", "Français")
    };

    void SetLanguage(CultureInfo cultureInfo)
    {
        LocalizationService.SetCulture(cultureInfo);
        LocalizationService.ApplySelectedCulture();
    }

    protected override void OnInitialized()
    {
        LocalizationService.SetCulture(CultureInfo.CurrentCulture);
    }
}
