name: AI Update

on:
  issues:
    types: [opened, edited]

jobs:
  ai_update:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.body, '/ai')
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install openai>=1.0.0 PyGithub
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install huggingface_hub

      - name: Run AI Code Update
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python .github/workflows/ai_update_hf.py "${{ github.event.issue.number }}" "${{ github.event.issue.body }}"